
==

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm col-md-5 col-lg-3">
        <img src="{{'assets/img/logo.svg'|theme}}" width="64" class="p-2 mb-2" style="background-color: #dfe6e9;" alt="Albright Labs Logo" /><br />
        <span><strong>Albright Labs</strong></span><br />
        <small class="mb-2">A Software Company</small><br /><br />
        <a href="mailto:hello@buonocoreco.com">hello@albrightlabs.com</a><br />
        <a href="tel:+16107565060">(610) 756-5060</a><br /><br />
        <address class="mb-4">PO Box 1537<br />
        Albrightsville, PA 18210</address>
        <a href="https://octobercms.com/partners/profile/albrightlabs" target="_blank" rel="noopener noreferrer nofollow">
          <img src="{{'assets/img/logos/custom-software-development-company-octobermcs-partner-badge.png'|theme}}" alt="OctoberCMS Official Partner Badge" class="img-fluid pt-1" width="128" />
        </a>
      </div>
    </div>
    <div class="row mt-5 mb-4">
      <div class="col">
        <p><span class="text-muted">&copy; {{'now'|date('Y')}} Albright Labs LLC. All Rights Reserved.</span></p>
      </div>
    </div>
  </div>
</footer>
